[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm ci",
  "cd backend && npm ci --production",
  "npx prisma generate --schema=./prisma/schema.prisma"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node backend/src/server.js"

